body {
    background-color: lightgray;
}

.carousel-item {
    height: 100vh;
    min-height: 30px;
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.5;
}

.carousel-caption{
    bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

.carousel-caption h5{
    font-size: 100px;
    font-weight: 700;
}

.carousel-caption p{
    font-size: 18px;
    top: 2 rem;
}

